@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Delicious+Handrawn&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default;
}



@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(92% 0.004 286.32);
  --color-base-300: oklch(55% 0.016 285.938);
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(0.33 0.049 343);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.79 0.0681 74.74);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.91 0.0109 76.59);
  --color-accent-content: oklch(98% 0.016 73.684);
  /* --color-neutral: oklch(0.3564 0.0391 248.97); */
  --color-neutral: oklch(0.2588 0.0859 257.24);
  /* --color-neutral: oklch(28% 0.091 267.935); */
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(51% 0.262 276.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(50.5% 0.213 27.518);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* ClubAdvantage - T1 : 

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 254.604);
  --color-base-200: oklch(93% 0.032 255.585);
  --color-base-300: oklch(88% 0.059 254.128);
  --color-base-content: oklch(37% 0.146 265.522);
  --color-primary: oklch(0.3564 0.0391 248.97);
  --color-primary-content: oklch(96% 0.001 286.375);
  --color-secondary: oklch(0.79 0.0681 74.74);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(0.33 0.049 343);
  --color-accent-content: oklch(96% 0.001 286.375);
  --color-neutral: oklch(0.9741 0.0074 80.72);
  --color-neutral-content: oklch(0.3564 0.0391 248.97);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
 */

 /* ClubAdvantage - T2
 
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(44% 0.043 257.281);
  --color-base-200: oklch(86% 0.022 252.894);
  --color-base-300: oklch(70% 0.04 256.788);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(0.2588 0.0859 257.24);
  --color-primary-content: oklch(97% 0.013 236.62);
  --color-secondary: oklch(0.91 0.0109 76.59);
  --color-secondary-content: oklch(0.2588 0.0859 257.24);
  --color-accent: #5E8878;
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(0.4302 0.0544 251.03);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

 */